* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 32px 32px;
    min-height: 80px;
    background-color: rgb(66, 66, 66);
}

nav img {
    max-height: 60px;
}

.spacer {
    /* border: 1px solid red; */
    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 50px - 260px);
}

nav ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited {
    color: aliceblue;
}

nav ul li a:hover {
    color: #B7987C;
}

